@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: Ceviche One;
    background-color: #170e32;
    text-decoration: none;
}

a {
    color: inherit;
    padding-bottom: 2px;
    /* background:
        linear-gradient(to right, #F9B572, #F9B572),
        linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat; */
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 5px;
    transition: text-decoration-color 300ms;
}

a:hover {
    text-decoration-color: inherit;
}

/* a:hover,
a:focus {
    background-size: 0 0.1em, 100% 0.1em;
} */

p {
    font-family: Poppins sans-serif;
    background-color: inherit;
}

a {
    background-color: inherit;
}

h1 {
    color: #e23121;
}

.body {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
}

.menu-body {
    display: flex;
    flex-direction: column;
    margin-left: 25dvh;
    margin-right: 25dvh;
    width: 150dvh;
}

.site-body {
    display: flex;
    flex-direction: column;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.header h1 {
    margin-top: 25px;
    font-size: 10dvh;
}

.monthly-special {
    margin-top: 5%;
    color: #F9B572;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthly-special h1 {
    font-size: 6dvh;
}

.monthly-special h2 {
    font-size: 4dvh;
}

.monthly-special p {
    font-size: 3dvh;
}

.monthly-special img {
    padding: 4%;
    margin: 4%;
    height: auto;
    display: grid;
    grid-template-rows: min-content;
    background: #CDFAD5;
    border-radius: 20px;
}

.menu {
    width: 100%;
    height: 30%;
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
    color: #F9B572;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    height: auto;
    font-size: 200%;
}

.about-us {
    color: #F9B572;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us h1 {
    font-size: 6dvh;
}

.about-us p {
    max-width: 100dvh;
    font-size: 3dvh;
}

.img-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.inline-snaps {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 4%;
}

.inline-snaps>* {
    scroll-snap-align: start;
}

.scroll-images {
    padding: 4%;
    margin: 4%;
    height: auto;
    display: grid;
    grid-template-rows: min-content;
    align-items: center;
    background: #CDFAD5;
    color: #e23121;
    border-radius: 15px;
}

.scroll-images img {
    inline-size: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

img.special-img {
    width: fit-content;
    height: fit-content;
}

.footer {
    display: flex;
    background-color: #DD4A48;
    justify-content: space-around;
    margin: 3%;
    border-radius: 20px;
}

.footer>* {
    background-color: #DD4A48;
    color: #CDFAD5;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .buttons {
    border-radius: 5px;
    height: 9%;
    padding-left: 5px;
    padding-right: 5px;
} */
