@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

* {
    box-sizing: border-box;
    font-family: Ceviche One;
    background-color: #F6FDC3;
    text-decoration: none;
}

a {
    color: inherit;
}

p {
    background-color: inherit;
}

a {
    background-color: inherit;
}

h1 {
    color: #e23121;
    font-size: 60px;
}

.body {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.header h1 {
    margin-top: 25px;
    font-size: 100px;
}

.monthly-special {
    margin-top: 5%;
    font-size: larger;
    color: #F9B572;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-body {
    display: flex;
    flex-direction: column;
    height: auto;
}

.img-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.inline-snaps {
    scroll-snap-type: inline mandatory;
}

.inline-snaps > * {
    scroll-snap-align: start;
    scroll-padding-inline: 4%;
}

.scroll-images {
    padding: 4%;
    margin: 4%;
    height: auto;
    display: grid;
    grid-template-rows: min-content;
    background: #CDFAD5;
    border-radius: 5px;
}

.scroll-images img {
    inline-size: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

img.special-img {
    width: fit-content;
    height: fit-content;
}

.about-us {
    color: #F9B572;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 100%;
    height: 30%;
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
    color: #F9B572;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    height: auto;
    font-size: 200%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .buttons {
    border-radius: 5px;
    height: 9%;
    padding-left: 5px;
    padding-right: 5px;
} */

.footer {
    display: flex;
    background-color: #DD4A48;
    justify-content: space-around;
    margin: 3%;
}

.footer>* {
    background-color: #DD4A48;
    color: #CDFAD5;
}